*{
    color:#E94560;
    text-align: center;
    font-weight: bold;
}

body{
    background-color: #1A1A2E;
}

h1{
    text-align: center;
    background-color: #16213E;
    padding: 20px 0px;
    font-weight: bolder;
}

.main{
    display: flex;
    gap: 10%;
    justify-content: center;
    margin: 100px 0px;
}

.main .container{
    border: 4px solid #0F3460;
    background-color: #16213E;
    display: grid;
    width:500px;
    height:500px;
    justify-content: center;
    box-shadow: -10px 10px #000000;
}

.main .options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main > .options > input{
    background-color: #0F3460;
    border: 2px solid #16213E;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    
}

#rangeValue{
    background-color: #0F3460;
    border: 2px solid #16213E;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
}
#rangeValue:hover{
    background-color:#16213E;
    border: 4px solid #0F3460;
}

/* .main > .options > input:hover{
    background-color: #16213E;
    border: 4px solid #0F3460;
} */

.main > .options > button{
    background-color: #0F3460;
    border: 2px solid #16213E;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
}

.main > .options > button:hover{
    background-color:#16213E;
    border: 4px solid #0F3460;
}

.button-glow{
    border: 4px solid #E94560;
    box-shadow: 0 0 10px #cd1836;
}

/* .container div {
    border: 2px solid #E94560;
} */


footer{
    background-color: grey;
    color: #000000;
    font-weight: lighter;
    padding: 5px;
}